pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
/.idea/
aoc2020.iml
.calva/output-window/output.calva-repl
.calva/output-window/.clj-kondo/config.edn
.calva/output-window/.clj-kondo/.cache/2020.11.07/lock
